@(list:Seq[MapsData])


<!DOCTYPE html>
<html lang="en">

    <head>
        <style>
            .prompt  {
                width: 300px;
                height: 500px;
                background: black;
                color: #FFA500;
            }
            .imgLink{
                 width: 590px;
                 height: 350px;
                 padding: 0%;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Restaurant Finder</title>

            <!-- Bootstrap core CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("vendor/bootstrap/css/bootstrap.min.css")">

            <!-- Custom fonts for this template -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("vendor/font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/familyMontserrat.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/familyLato.css")">

            <!-- Custom styles for this template -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/freelancer.min.css")">

            <!-- Our personal CSS -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/filterMenu.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/menu.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/map.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/infoWindow.css")">


    </head>
    <script src="@routes.Assets.at("js/filterFunctions.js")" type="text/javascript"></script>

    <script src = "@routes.Assets.at("database.js")"></script>
    
    <body id="page-top">

     
    <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
       <div class="container">
           <a class="navbar-brand js-scroll-trigger">Places Finder</a>
           <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               Menu
               <i class="fa fa-bars"></i>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                   <li class="nav-item">
                       <a class="nav-link js-scroll-trigger" href="http://localhost:9000">Voltar</a>
                   </li>

               </ul>
           </div>
       </div>
   </nav>
            <!-- Header -->
        <header class="masthead">
            <div class="">
                <div class="intro-text" style="pa">
                    <span class="name">Search for restaurants</span>
                </div>
            </div>

                <!-- Filter Bar -->
            <div class="">
                <div class="row" style="height: 800px;">
                    <div class="col-lg-8 mx-auto">
                        <div id="map" style = "width:100%; height: 100%;"></div>
                           <script async defer
                           src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3cxWIVfftobhe_pBnBl0DumdR2CHtSmk&callback=googleMaps">
                           </script>
                        <a href="#" onclick="googleMaps()"><img src = "https://www.materialui.co/materialIcons/maps/my_location_grey_192x192.png" style="height: 32px; width: 32px;position: absolute;  left: 1235px; bottom: 105px; "></a>
                    </div>
                    <div class="col-lg-4 mx-auto">
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for restaurants..">

                        <div class = "scrollmenu" id = "near">
                            <a  onclick="verasFunction('todos')"  checked > Todos </a>
                            <a  onclick="verasFunction('bar')"  > Bares</a>
                            <a  onclick="verasFunction('restaurante')"  > Restaurantes</a>
                            <a  onclick="nearby()"  > Próximos</a>
                            <a  onclick="verasFunction('outros')"  > Outros</a>

                        </div>
                        <div class="content">
                            <ul id="myUL" style = "width: 100%; height: 635px; overflow: auto">
                                @for(t <- list) {
                                    <li><a style = "padding: 0%;" href="#" onclick="googleMaps(@t.lat,@t.lng)"><div class="@t.tipo">@t.name<img class = "imgLink" src="@t.link"></div></a></li>
                                }
                            </ul>
                        </div>
                        <div class = "scrollmenu">
                            <a href="newPlace"> Cadastre um novo Local </a>
                        </div>


                    </div>
                </div>

            </div>
            
            <script>
                    var clicado = false;
                    function googleMaps(lat,lng) {
                        var marker, i;
                        var crd;
                        var map;

                        if(navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(function(position){

                                var loc;
                                // Problem: lat,lng can't get position.coords to pass to map out of natvigator function, so I needed to add map into and markers too.
                                if(lat == null) loc = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                                else loc = new google.maps.LatLng(lat,lng);

                                map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 16,
                                    center: loc,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                });


                                marker = new google.maps.Marker({ // Marcador do User
                                    position: new google.maps.LatLng(position.coords.latitude,position.coords.longitude),
                                    map: map,
                                    icon: 'http://maps.google.com/mapfiles/kml/pal3/icon32.png'
                                });

                                @for(t <- list) {
                                    marker = new google.maps.Marker({
                                        position: new google.maps.LatLng(@t.lat, @t.lng),
                                        map: map,
                                        icon: "@t.icon"
                                    });
                                }

                                for(i = 1; i < locations.lenght -1; i++){
                                    console.log('vou adicionar o lugar' + locations[i]);
                                    marker = new google.maps.Marker({
                                        position: new google.maps.LatLng(locations[i][2], locations[i][3]),
                                        map: map,
                                        icon: icons[locations[i][4]]
                                    });
                                }

                            });
                        }
                        else{ // Same Here
                            alert("I'm sorry, but geolocation services are not supported by your browser.");
                            map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 18,
                                center: new google.maps.LatLng(locations[0][1], locations[0][2]),
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            });



                            i = 0;
                            @for(t <- list) {
                                marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(@t.lat, @t.lng),
                                    map: map,
                                    icon: "@t.icon"
                                });

                                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                    return function() {
                                        infowindow.setContent('<div style="color: red;">'+'<p>Essa é o @t.name</p>'+'</div>');
                                        infowindow.open(map, marker);
                                    }
                                })(marker, i));
                                /* Remover borda fixa dos marcadores quando clicados*/
                                i = i+1;
                            }

                        }
                        var infowindow = new google.maps.InfoWindow();
                    }
                    function nearby (){
                        console.log('clicado = ' + clicado);
                        var bg;
                        bg = document.getElementById("near");
                        bg = bg.getElementsByTagName("a");
                        if(!clicado){
                           clicado = !clicado;
                           bg[3].style.backgroundColor = "#777";

                            if(navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(function(position){

                                        var a = position.coords.latitude;
                                        var b = position.coords.longitude;

                                    var base = prompt("Digite a distância em Km: ", "4.5");
                                    while(isNaN(base)) base = prompt("Numero inválido, digite a distância em Km: ", "4.5");
                                
                                    var ul, li, i;
                                    ul = document.getElementById("myUL");
                                    li = ul.getElementsByTagName("li");
                                    i = 0;
                                    @for(t <- list){
                                        if(dist(a,b,@t.lat,@t.lng,i,base)) li[i].style.display = '';
                                        else li[i].style.display = 'none';
                                        i = i + 1;
                                    }
                                    

                                });
                            }
                        }
                        else{
                            clicado = !clicado;
                            bg[3].style.backgroundColor = "#2c3e50";
                        }

                    }
                    function verasFunction(type){
                        var bg;
                        bg = document.getElementById("near");
                        bg = bg.getElementsByTagName("a");
                        bg[3].style.backgroundColor = "#2c3e50";
                        clicado = false;
                        var input, filter, ul, li, a, i;
                        ul = document.getElementById("myUL");
                        li = ul.getElementsByTagName("li");
                        if(type == 'todos'){
                            for(let i = 0; i < li.length; i++){
                                li[i].style.display = '';
                            }
                        }
                        else{
                            for(let i = 0; i < li.length; i++){
                                a = li[i].getElementsByTagName("div")[0].className
                                if(a == type) li[i].style.display = '';

                                else  li[i].style.display = 'none';
                            }
                        }
                    }

            </script>

        </header>


            <!-- Footer -->
        <footer class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4">
                            <h3>Location</h3>
                            <p>3481 Melrose Place
                                <br>Beverly Hills, CA 90210</p>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>Around the Web</h3>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="btn-social btn-outline" href="#">
                                        <i class="fa fa-fw fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-social btn-outline" href="#">
                                        <i class="fa fa-fw fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-social btn-outline" href="#">
                                        <i class="fa fa-fw fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-social btn-outline" href="#">
                                        <i class="fa fa-fw fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-social btn-outline" href="#">
                                        <i class="fa fa-fw fa-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-4">
                            <h3>About Freelancer</h3>
                            <p>Freelance is a free to use, open source Bootstrap theme created by
                                <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; Your Website 2017
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script src="@routes.Assets.at("vendor/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendor/bootstrap/js/bootstrap.bundle.min.js")" type="text/javascript"></script>

            <!-- Plugin JavaScript -->
        <script src="@routes.Assets.at("vendor/jquery-easing/jquery.easing.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendor/boot-popup/bootpopup.min.js")" type="text/javascript"></script>


        <!-- Contact Form JavaScript -->
        <script src="@routes.Assets.at("js/jqBootstrapValidation.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/contact_me.js")" type="text/javascript"></script>

            <!-- Custom scripts for this template -->
        <script src="@routes.Assets.at("js/freelancer.min.js")" type="text/javascript"></script>

            <!-- <script> bootpopup.confirm("Você quer buscar lugares?"); </script> -->
        

    </body>


</html>

