

   .choice-box:focused { -fx-background-color: palegreen; }

   .choice-box > .label { -fx-text-fill: black; }

   .choice-box:focused > .label { -fx-text-fill: cornflowerblue; }

   .choice-box:selected > .label { -fx-text-fill: black}

.choice-box {
    -fx-background-color: white;
    -fx-mark-color: #9fa6ff; // arrow color
}

#head-text{
    -fx-font: 60 arial;
    -fx-fill: yellow;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.button {

    -fx-scale-shape: inherit;
    -fx-font-size : 20px;
}

.button:hover {
    -fx-background-color: yellow;
}

.button:pressed {
    -fx-background-color: #DAA520;

}
