
#head-text{

    -fx-font: 68 arial;
    -fx-fill: yellow;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.button {

    -fx-scale-shape: inherit;
    -fx-font-size : 30px;
}

.button:hover {
    -fx-background-color: yellow;
}

.button:pressed {
    -fx-background-color: #DAA520;

}


.spinner {

}