.buttonPressed {
    -fx-background-color: #ffff00;
    -fx-scale-shape: inherit;
    -fx-text-fill: #ffff00 ;
}

.button {
    -fx-background-color: #7e7e7e;
    -fx-scale-shape: inherit;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: #7e7e7e ;

}

.grid {
    -fx-border-color: black;
    -fx-border-width: 1;
}

.bleh:hover {
    -fx-background-color: lightgray;

}
.bleh:pressed {
    -fx-background-color: gray;

}
.tool-bar {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-scale-shape: true;
    -fx-min-width: 300px;
}